body {
  display: grid;
  justify-content: center;
}

.title {
  color: rgb(17, 17, 114);
  margin-bottom: 1em;
}

.entry-textbox {
  background-color: rgb(255, 112, 10);
  width: 27em;
  height: 10em;
  padding: 1em;
  margin-bottom: 0.5em;
  border: unset;
  outline: none;
  border-radius: 25px;
  resize: none;
}

.button {
  border: unset;
  border-radius: 25%;
  font-weight: bold;
  padding: 10px 16px;
  margin-left: 17em;
  outline: none;
}

.button:active, .button-clear:active {
  transform: translateY(4px);
}

.button-clear {
  border: unset;
  border-radius: 25%;
  font-weight: bold;
  padding: 10px 16px;
  outline: none;
}
.entries-section {
  background-color: #16697A;
  color: whitesmoke;
  font-family: cursive;
  border: unset;
  border-radius: 25px;
  padding: 2em;
  width: 20em;
  margin-top: 1em;
}

.entries-nav {
  padding-bottom: 1em;
}

.display-entry-button {
  margin: 0 0.2em;
  font-family: cursive;
}

.display-entry-button:focus {
  background-color: #008000;
}

.display-entry-button:hover, .button:hover, .button-clear:hover {
  cursor: pointer;
  background-color: rgb(171, 218, 218);
}


